{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
{% endblock %}
{% block navbar %}
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">&lambda;</a>
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{ message }}</p>
      </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
    </div>
    <footer class="container">
      <p>Perhaps more info about the project in the footer?</p>
    </footer>
{% endblock %}
{# I do not make use of javascript, so removing bootstrap bloat.#}
{% block scripts %} {% endblock %}
